h1{
    background-color: rgba(62, 153, 123, 0.24);
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-left:1% ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}